# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\IS445 Data Visualization\Streaming Platforms\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
